body { 
    color:rgb(61, 34, 124);
}

.greenborder {
    border: 7px groove rgb(12, 160, 12);
    margin: 25px 50px
    
}

.background {
    background-color:rgb(236, 169, 183);
}
.backgrounda {background-color:rgba(201, 218, 221, 0.966)
}

.backgroundb {background-color: rgb(240, 215, 154);}

.container{border:7px groove rgb(12, 160, 12); margin:0 auto;width:500px ;}


header {
  padding: 10px 30px 10px 50px;
}

main {
  padding: 10px 50px;
}

footer {
  padding: 10px 30px 10px 50px;
}
ul{ list-style-type:none;margin:50px;padding:0;}



li {
   display: inline;}